

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* .noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

/* Estilos para la App principal */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}