/* Estilos para el contenedor principal de las tarjetas */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #ffff;
    padding: 4rem 0;
    position: relative;
}

/* Estilos para el título de las tarjetas */
.cards-container .titulo-cards {
    width: 100%;
    font-size: 40px;
    text-align: center;
}

/* Estilos para las tarjetas individuales */
.cards-container .custom-card {
    margin: 10px;
    border: none;
    box-shadow: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    box-sizing: border-box;
    background-color: transparent !important;
}

/* Estilos para el contenedor de la imagen de la tarjeta */
.cards-container .custom-card .image-container {
    height: 0%;
    max-height: 350px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    border: transparent;
}

/* Estilos para la imagen dentro del contenedor de la tarjeta */
.cards-container .custom-card .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
}

/* Efecto de zoom al pasar el ratón por encima de la imagen */
.cards-container .custom-card .image-container img:hover {
    transform: scale(1.10);
}

/* Estilos para el cuerpo de la tarjeta */
.cards-container .custom-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

/* Media queries para tamaños de pantalla específicos */
@media (max-width: 1200px) {
    .cards-container .custom-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .cards-container .titulo-cards {
        font-size: 30px;
        text-align: center;
    }

    .cards-container .custom-card {
        width: calc(100% - 20px);
        max-width: 300px;
    }
}

@media (max-width: 576px) {
    .cards-container .titulo-cards {
        font-size: 18px;
        text-align: center;
    }

    .cards-container .custom-card {
        width: calc(70% - 20px);
        max-width: 300px;
    }
   
    .cards-container .custom-card .title-card {
        font-size: 15px;
    }
    
    .cards-container .custom-card .card-text {
        font-size: 12px;
    }
    
    .cards-container .custom-card .btn {
        font-size: 10px;
    }
}
