.error404 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5293d3;
}

.containerError404 {
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.containerError404 h3 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.containerError404 h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.containerError404 p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.ErrorLink {
  text-decoration: none;
  color: white;
}
