.footer-container {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    background-color: #007bff;
    border-top: 1px solid black;
    padding-top: 3rem;
    padding-left: 2rem;
}

.page-footer {
    color: #fff;
}

.row {
    margin-bottom: 1rem;
}

.text-uppercase {
    color: #fff;
}

.text-uppercase a {
    color: #fff;
}

.text-uppercase a:hover {
    color: #ccc;
}

.list-unstyled li a {
    color: #201e1e;
    text-decoration: none;
}

.list-unstyled li a:hover {
    color: #535bf2;
}

.iconos {
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.icono-img {
    width: 30px;
    height: 30px;
    margin: 0 1rem;
}

.icono-img:hover {
    transform: scale(1.2);
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyright li {
    display: inline;
    margin-left: 5px;
}


@media (max-width: 576px) {
    .footer-container {
        padding-top: 2rem;
        padding-left: 0.5rem;
    }

    .row {
        margin-bottom: 0.5rem;
    }

    .iconos {
        margin-top: 0.5rem;
    }

    .icono-img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 992px) {
    .footer-container {
        padding-top: 2.5rem;
    }
}

@media (max-width: 1200px) {
    .footer-container {
        padding-left: 1.5rem;
    }
}
