/* Estilo para el modal */
.modal-content {
  border-radius: 10px;
}

/* Estilo para el encabezado del modal */
.modal-header {
  background-color: #007bff;
  color: #fff;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

/* Estilo para el cuerpo del modal */
.modal-body {
  padding: 20px;
}

/* Estilo para el pie del modal */
.modal-footer {
  border-top: none;
  border-radius: 0 0 10px 10px;
}

/* Estilo para el botón de cancelar */
.modal-footer .btn-secondary {
  background-color: #6c757d;
}

/* Estilo para el botón de enviar */
.modal-footer .btn-primary {
  background-color: #28a745;
}

.modal-dialog {
  margin-top: 100px; /* Ajusta este valor según sea necesario */
}

