.contenedor-mascotas {
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.539);
    height: 100vh;
}

.contenedor-color {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    background-color: #fdf5e6  !important;
    padding: 0 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-responsive {
    overflow-x: auto;
}

.contenedor-mascotas h1 {
    text-align: center;
    margin-bottom: 1rem;
    padding: 2rem;
    overflow-x: auto;
}

.table-mascotas {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    text-align: center;
}

.table th {
    background-color: #007bff;
    color: #fff;
}

.table th,
.table td {
    border: 1px solid #dee2e6;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

.imagen-tabla-mascotas {
    width: 100px;
}

.btn-volver {
    margin-top: 4rem;
}

@media (max-width: 576px) {
    .container {
        padding: 1rem;
    }

    .imagen-tabla {
        width: 50px;
    }
}

@media (min-width: 576px) {
    .container {
        padding: 0 3rem;
    }

    .imagen-tabla {
        width: 100px;
    }
}