/* Estilos para el slider principal */

/* Estilos para el contenedor principal del slider */
.carousel-principal {
    display: block;
    justify-content: center;
    width: 100%;
    height: 40vw;
    max-height: calc(100vh - 80px);
    object-fit: cover;
}

/* Estilos para los elementos del slider */
.carousel-principal .carousel-item-wrapper {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

/* Estilos para las imágenes dentro del slider */
.carousel-principal .carousel-item-wrapper .carousel-imagen {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos para los subtítulos del slider */
.carousel-principal .carousel-item-wrapper .custom-carousel-caption {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1% 2%;
    border-radius: 10px;
    width: 35%;
    height: auto;
}

/* Estilos para los títulos dentro del subtítulo */
.carousel-principal .carousel-item-wrapper .custom-carousel-caption h3 {
    font-size: 1.7vw;
    margin-bottom: 10px;
}

/* Estilos para los párrafos dentro del subtítulo */
.carousel-principal .carousel-item-wrapper .custom-carousel-caption p {
    font-size: 1.2vw;
    margin: 0;
}

/* Estilos para los indicadores del slider */
.carousel-principal .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 15vw);
    transform: translateX(-50%);
}

/* Estilos para los elementos de los indicadores del slider */
.carousel-principal .carousel-indicators li {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 2vw;
    height: 2vw;
    margin: 0 5px;
    cursor: pointer;
}

/* Estilos para los controles de navegación del slider */
.carousel-principal #carousel-principal .carousel-control-prev,
.carousel-principal #carousel-principal .carousel-control-next {
    width: 10%;
}

/* Estilos para las transiciones de los elementos del slider */
.carousel-principal .user-experience-carousel .carousel-item {
    transition: opacity 0.5s ease-in-out;
}

/* Estilos para tamaños de pantalla específicos */
@media (max-width: 1200px) {
    .carousel-principal .carousel-item-wrapper .custom-carousel-caption {
        top: 10%;
        height: auto;
    }

    .carousel-principal .carousel-indicators {
        left: calc(50% - 10vw);
        width: 200px;
        bottom: -2%;
    }
}

@media (max-width: 768px) {
    .carousel-principal .carousel-item-wrapper .custom-carousel-caption {
        top: 10%;
        height: auto;
    }

    .carousel-principal .carousel-indicators {
        left: calc(50% - 15vw);
        width: 100px;
        bottom: -2%;
    }

    @media (max-width: 576px) {
        .carousel-principal .carousel-item-wrapper .custom-carousel-caption {
            top: 8%;
            height: auto;
        }

        .carousel-principal .carousel-indicators {
            left: calc(50% - 15vw);
            width: 80px;
            bottom: -10%;
        }
    }

    @media (max-width: 400px) {
        .carousel-principal #carousel-principal {
            width: 100%;
        }

        .carousel-principal .carousel-item-wrapper .custom-carousel-caption {
            top: 5%;
            height: auto;
        }

        .carousel-principal .carousel-indicators {
            left: calc(50% - 15vw);
            width: 60px;
            bottom: -15%;
        }

        .carousel-principal .carousel-indicators li {
            width: 10px;
            height: 10px;
            margin: 0 3px;
        }
    }
}
