/* Estilos para el contenedor principal de las tarjetas de experiencia de usuario */
.contenedor-experiences {
    padding: 0 4rem;
    background-color: rgba(70, 130, 241, 0.372);
}

/* Estilos para el carrusel de experiencia de usuario dentro del contenedor principal */
.contenedor-experiences .user-experience-carousel {
    background-color: transparent;
    max-width: 100%;
    padding: 4rem 5rem;
}

/* Estilos para el contenedor de cada item dentro del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel .item-container {
    background-color: transparent;
    padding: 0 1rem;
}

/* Estilos para cada slide del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel .user-slide {
    background-color: transparent;
    padding: 0;
}

/* Estilos para el contenedor de la imagen dentro de cada slide del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel .image-container {
    background-color: transparent;
    padding: 0.5rem 0;
}

/* Estilos para el contenedor del texto dentro de cada slide del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel .text-container {
    background-color: transparent;
    padding: 0.5rem 0;
}

/* Estilos para las imágenes de perfil redondeadas dentro de cada slide del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel .rounded-circle {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: 10px;
    align-items: left;
}

/* Estilos para el comentario de la experiencia dentro de cada slide del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel .text-comment {
    font-size: 20px;
}

/* Estilos para el nombre de la persona que realizó la experiencia dentro de cada slide del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel .text-name {
    font-size: 20px;
}

/* Estilos para los controles de navegación del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel a.carousel-control-prev,
.contenedor-experiences .user-experience-carousel a.carousel-control-next {
    width: 80px;
}

/* Estilos para los iconos de los controles de navegación del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel .carousel-control-prev-icon,
.contenedor-experiences .user-experience-carousel .carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-size: 100%, 100%;
    border-radius: 50%;
}

/* Estilos para los iconos de los controles de navegación del carrusel de experiencia de usuario (span) */
.contenedor-experiences .user-experience-carousel span.carousel-control-prev-icon,
.contenedor-experiences .user-experience-carousel span.carousel-control-next-icon {
    width: 40px;
    height: 40px;
}

/* Estilos para el icono de flecha izquierda del control de navegación del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23FFFFFF\' viewBox=\'0 0 8 8\'%3e%3cpath d=\'M4.5 0L0 4l4.5 4V5h3V3h-3V0z\'/%3e%3c/svg%3e');
}

/* Estilos para el icono de flecha derecha del control de navegación del carrusel de experiencia de usuario */
.contenedor-experiences .user-experience-carousel .carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23FFFFFF\' viewBox=\'0 0 8 8\'%3e%3cpath d=\'M3.5 0v3H0v2h3.5v3L8 4 3.5 0z\'/%3e%3c/svg%3e');
}

/* Estilos para los elementos del carrusel de experiencia de usuario */
.contenedor-experiences #carousel-principal .carousel-item {
    transition: opacity 0.1s ease-in-out;
}

@media (max-width: 768px) {
    .contenedor-experiences .contenedor {
        padding: 0 1rem;
    }

    .contenedor-experiences .user-experience-carousel {
        padding: 2rem 3rem;
    }

    .contenedor-experiences .item-container {
        padding: 0rem 0.5rem;
    }

    .contenedor-experiences .rounded-circle {
        width: 60px;
        height: 60px;
    }

    .contenedor-experiences .carousel-control-prev,
    .contenedor-experiences .carousel-control-next {
        width: 50px;
    }

    .contenedor-experiences span.carousel-control-prev-icon,
    .contenedor-experiences span.carousel-control-next-icon {
        width: 20px;
        height: 20px;
    }

    .contenedor-experiences .carousel-indicators button {
        margin: 0.3rem;
        height: 0.3rem;
        width: 0.3rem;
    }

    .contenedor-experiences .text-comment {
        font-size: 15px;
    }

    .contenedor-experiences .text-name {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .contenedor-experiences {
        padding: 0 0.5rem;
    }

    .contenedor-experiences .user-experience-carousel {
        padding: 1rem 0.5rem;
    }

    .contenedor-experiences .item-container {
        padding: 0rem 0.25rem;
    }

    .contenedor-experiences .user-slide {
        padding: 0.5rem 0;
    }

    .contenedor-experiences .image-container {
        padding: 0.25rem 0;
    }

    .contenedor-experiences .text-container {
        padding: 0.25rem 0;
    }

    .contenedor-experiences .user-experience-carousel .text-comment {
        font-size: 12px;
    }

    .contenedor-experiences .user-experience-carousel .text-name {
        font-size: 12px;
    }

    .contenedor-experiences .user-experience-carousel .rounded-circle {
        width: 50px;
        height: 50px;
    }

    .contenedor-experiences .user-experience-carousel a.carousel-control-prev,
    .contenedor-experiences .user-experience-carousel a.carousel-control-next {
        width: 20px;
    }

    .contenedor-experiences .user-experience-carousel span.carousel-control-prev-icon,
    .contenedor-experiences .user-experience-carousel span.carousel-control-next-icon {
        width: 25px;
        height: 25px;
    }

    .contenedor-experiences .carousel-indicators {
        bottom: 2%;
    }

    .contenedor-experiences .carousel-indicators li {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }
}

@media (max-width: 300px) {
    .contenedor-experiences .item-container {
        padding: 0rem 0.1rem;
    }

    .contenedor-experiences .user-experience-carousel .text-comment {
        font-size: 10px;
    }

    .contenedor-experiences .text-name {
        font-size: 10px;
    }

    .contenedor-experiences .user-experience-carousel .rounded-circle {
        width: 40px;
        height: 40px;
    }
}