/* Colores personalizados */
:root {
  --primary-color: #3c3d59;
  --primary-dark-color: #484a7f;
  --secondary-color: #babcd9;
  --light-color: #f2f2f2;
  --danger-color: #f44336;
}

/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Encabezado */
.header {
  background-color: var(--primary-dark-color);
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

/* Contenido principal */
.main-content {
  padding: 20px;
  width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Página de administración */
.admin-page,
.admin-home-page {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Listas de items */
.item-list {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--light-color);
}

.button-group {
  display: flex;
  gap: 10px;
}

/* Navegación */
.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin: 0 10px;
}

.nav-button,
.edit-button,
.delete-button,
.submit-button,
.cancel-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button {
  background-color: var(--primary-dark-color);
  margin: 10px;
}

.nav-button:hover {
  background-color: var(--primary-color);
}

.edit-button {
  background-color: var(--primary-dark-color);
}

.edit-button:hover {
  background-color: var(--primary-color);
}

.delete-button {
  background-color: var(--danger-color);
}

.delete-button:hover {
  background-color: darkred;
}

.submit-button {
  background-color: var(--primary-dark-color);
  margin-top: 10px;
}

.submit-button:hover {
  background-color: var(--primary-color);
}

.cancel-button {
  background-color: var(--danger-color);
  margin-top: 10px;
}

.cancel-button:hover {
  background-color: darkred;
}

/* Modal */
.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--light-color);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal h3 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin: 10px 0;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.error-message {
  color: var(--danger-color);
  margin-bottom: 20px;
}
